DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000
DB_ENGINE=django.db.backends.postgresql
DB_NAME=saas_futebol
DB_USER=saas_futebol
DB_PASSWORD=saas_futebol
DB_HOST=db
DB_PORT=5432
